<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="main-content">
        <div id="nav">
          <h1>James' Signature Pizza</h1>
          <div id="navbar">
            <a href="/" class="navlink">Order</a>
            <a href="/orders" class="navlink">Order History</a>
          </div>
        </div>
            {{{body}}}
        </div>
    </div>
  </body>
</html>
