<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main-content">
        <div id="nav">
          <h1>James' Signature Pizza</h1>
          <div id="navbar">
            <a href="/" class="navlink">Order</a>
            <a href="/orders" class="navlink">Orders Listing</a>
          </div>
        </div>
        {{{body}}}
        </div>
    </div>
  </body>
</html>
