<link rel="stylesheet" href="stylesheets/orders.css">
<div id="container">
    <h2>{{title}}</h2><br/>
    <table class="table" id="orders">
        <tr><th>Order Id</th><th>Customer Name</th><th>Phone Number</th><th>Address</th><th>Pizza Details</th></tr>
    </table>
</div>
<script src="javascripts/orders.js"></script>