#body-content {
    margin: auto;
    max-width: 850px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0 0 5px 5px;
}

h1{
    font-size: 28px;
}

h3 {
    margin: 3px 0 10px;
    font-size: 16px;
}

form {
    padding: 15px 15px 15px 20px;
    color: #252525;
}

.sizes-radio {
    display:inline-block;
    margin: 0 5px 5px 0;
}

.crust {
    margin: 10px 5px;
}

.toppings_list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

.topping {
    width: 190px;
    margin: 5px;
}

.checkboxes {
    margin: 0;
}

#customer-div{
    margin: auto;
    min-width: 390px;
    width: 45%;
    padding: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
}

#customer-div h3 {
    margin-top: 3px;
    text-align: center;
}

label {
    font-size: 14px;
    padding: 5px;
}

table {
    border-spacing: 1px;
    margin-bottom: 8px;
}

td input {
    width: 260px;
}

#labelQty {
    font-weight: bold;
    padding: 0;
    margin-right: 20px;
}

#dropDownQty {
    width: 70px;
}

button {
    float: right;
    margin-top: 10px;
    width: 75px;
    height: 28px;
}

#statusMsg {
    margin: 0;
    padding: 3px;
    font-size: 14px;
    border-radius: 2px;
}

.alert-success {
    color: green;
    border: 1px solid green;
}

.alert-danger {
    color: #f32121;
    border: 1px solid #f32121;
}

@media only screen and (max-width: 580px) {
    #customer-div{
        margin-left: 8%;
    }
}

@media only screen and (max-width: 525px) {
    #sizes-personal {
        margin-left: 9px;
    }
}

@media only screen and (max-width: 475px) {
    #customer-div {
        margin: 0;
    }
}