body {
    font-size: 14px;
}

#container {
    padding: 20px 15px 15px 20px;
    color: #252525;
    margin: auto;
    min-width: 725px;
    max-width: 850px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

h2 {
    margin: 0;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.1);
}

form input {
    width: 95px;
}

.table {
    border-collapse: collapse;
}

.table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color:#c5c5c5;
    white-space: nowrap;
}

#th-name {
    min-width: 140px;
}

#th-address {
    min-width: 166px;
}

#th-pizza {
    min-width: 330px;
}

td {
    vertical-align: top;
}

#postal {
    white-space: nowrap;
}

#pizza-details {
    width: 330px;
}