body {
    font-size: 14px;
}

#container {
    padding: 15px 15px 15px 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
}

form input {
    width: 95px;
}

.table {
    border-collapse: collapse;
}

.table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color:lightblue;
    white-space: nowrap;
}

#th-address {
    min-width: 166px;
}

#th-pizza {
    min-width: 330px;
}

td {
    vertical-align: top;
}

#postal {
    white-space: nowrap;
}

#pizza-details {
    width: 330px;
}