h2 {
    margin: 0;
}

#container {
    padding: 15px 15px 15px 20px;
}

.table {
    border-collapse: collapse;
}

.table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color:lightblue;
}

td {
    vertical-align: top;
}

#postal {
    white-space: nowrap;
}

#pizza-details {
    width: 330px;
}